.btn{
	padding:8px 15px;
	border:1px solid silver;
	border-radius: 3px;
	text-decoration:none;
	color:#222;
	&:hover{
		color:white;
		background:#222;
		border:none;
	}
}

a img{
	transition: opacity 0.5s;
	opacity:1;
	&:hover{
		opacity:0.5;
	}
}