.bgContact__h3{
	@include colored_h3();
}

.bgContact__captionWrapper{
	position:relative;
	img{
		opacity:0.7;
		display:block;
	}
}
.bgContact__caption{
	position:absolute;
	background-color: rgba(0,0,0,0.8);
	padding-left:10px;
	width:100%;
	bottom:0;
	color:white;
}

.bgContact__caption--light{
	background-color: rgba(0,0,0,0.5);
}

.bgContact__buttonList{
	margin:0;
	padding:0;
	padding-bottom:10px;
}

.bgContact__address{
	margin-bottom:5px;
}

.bgContact__button{
	margin:0;
	display: inline-block;
	padding:2px 10px;
	border-radius:5px;
	margin-right:10px;
	background:white;
	color:black;
	a{
		color:black;
		text-decoration:none;
	}
}


ul.social_media{
	margin:0;
	margin-left:10px;
	padding:0;
	padding-bottom:20px;
	li{
		list-style: none;
		display:inline-block;

	}
}