@media screen and (max-width:850px){
	.navigation__mobile_toggle{
		display:block;
	}
	
	.navigation{
			width:100%;
			display:block;
			position:absolute;
			top:80px;
			left:-2000px;
			right:0;
			transition: all 0.3s;
			&.active{
				transform:translate3d(2000px,0,0);
			}
		}

	.navigation__list{ // ul
		display:flex;
		flex-direction:column;
		padding:0;
		align-items:flex-start;
	}

	.navigation__item{ // li
		text-decoration:none;
		color:#444;
		&:hover{
			color:$bgMainColor;	
		}
	}

	.navigation__link{ // a
		width:100%;
		padding:10px;
		background:#ededed;
		border-bottom:1px solid silver;
		display:inline-block;
		&.active{
			.navigation__item{
				color:$bgMainColor;	
			}
			.navigation--highlight{
				color:$bgMainColor;
				border-bottom:none;
			}		
		}
		&.nobackground{
			background:none;
			border:none;
		}
	}

	.navigation--highlight{
		background:inherit;
		padding:inherit;
		border:none;
		&:hover{
			background:inherit;
			color:$bgMainColor;
		}
	}

}