#LetUsHelpYou{
	background-color: #3f3f3f;
}
.projects__info{
	color: #1D1D1D;
	padding: 20px 40px;
	background: rgba(144,144,144,0.7);
	border: 1px solid black;
}
.projects__h2{
	color:white;
	text-transform:uppercase;
}

.projects__p{

}