.slideshow__wrapper{
	width:100%;
	//min-height:830px;
	margin:0 auto;
	position:relative;
}

.slideshow__info{
	position:absolute;
	left:100px;
	top:40px;
}

.slideshow__header, .slideshow__text {
    color: white;
    width: 100%;
    text-shadow: 1px 1px 1px #444;
}

.slideshow__header{
	font-size: 2.3em;
	line-height: 1;
	font-weight:bold;
}

.slideshow__text {
    padding-top: 10px;
    font-size: 1.3rem;
    color: #e6e6e6;
    line-height: 1.1;
    margin-top: 0;
}

.slideshow__button {
    color: white;
    text-decoration: none;
    display: inline;
    padding: 10px 15px;
    border: 1px solid white;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.3);
}

@media all and (max-width:800px){
	.slideshow__wrapper{
		margin-top:180px;
	}
	.slideshow__header{
		font-size:2em;
	}
	.slideshow__text{
		font-size:1em;
	}
	.slideshow__info{
		left: 0px;
		top: -170px;
	}

	.slideshow__text {
		margin-bottom:5px;
	}
	.slideshow__button_container{
		padding-left:0;
	}
	.slideshow__button{
		padding:5px ;
		font-size:1.1rem;
	}
}