.utility__verticenter{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mobileHide{
	@media all and (max-width:600px){
		display:none;
	}
}

.nobackground{
	background:transparent;
	border:none;
}

.nomargin{
	margin:0;
}

.darkerBackground{
	background:#efefef;
}

.light{
	font-weight:300;
}

.borderbottom{
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dashed silver;
}

.utlity__nomargins{
	margin:0;
}

.bg_container{
	padding:5%;
}

.rightGutter{
	padding-right:20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}