.modalpage{
	
	display:none;
	z-index:2;
	position:fixed;
	top:0;
	left:20px;
	right:20px;
	overflow-y:scroll;
	background:darken(white,5);
	max-width:$bgMaxWidth - 40px;
	margin:auto;
	&.active{
		display:block;
		top:60px;
	}
	&--white{
		background:white;
	}
	z-index:1000001;
	@media screen and (max-width:600px){
		right:0;
		left:0;
		&.active{
			top:0;
			bottom:0;
		}
	}
}

.closewindow{
	position:absolute;
	z-index:10000000;
	right:0;
	top:0;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
	a{
		text-decoration: none;
		color: black;
	}
}

.page__shroud{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	display:none;
}

body.noscroll .page__shroud{
	display:block;
}

