.header-image-home {
	   background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-home-bg.jpg);
	   background-image: -o-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-home-bg.jpg);
	   background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-home-bg.jpg);
	}

.header-image-office {
	   background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-office-bg.jpg);
	   background-image: -o-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-office-bg.jpg);
	   background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-office-bg.jpg);
	}

.header-image-accessories {
	   background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-accessories-bg.jpg);
	   background-image: -o-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-accessories-bg.jpg);
	   background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)),url(http://bluegallery.dev/img/collection-accessories-bg.jpg);
	}

.is-grey{
	background-color: #888;
}